/* semantic */
.white-space-nowrap{
  white-space: nowrap;
}
.text-decoration-none-hover:hover{
  text-decoration: none;
}

/* index */
th{
  text-align: left;
}
.paid{
  color: skyblue;
}
.free{
  color: #999;
}
